<ion-view>
    <div class="bar bar-header bar-assertive">
        <h1 class="title">Bus Hopper</h1>
        <button class="button icon ion-gear-a button-clear"></button>
    </div>
    <ion-content class="padding has-header">
        <div class="list">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Bus stop name/number" ng-model="data.stopNum">
                </label>
                <a class="button button-icon icon ion-ios-search" ng-click="updateStop()"></a>
            </div>
        </div>
    </ion-content>
</ion-view>





<!--
<div class="bar bar-header bar-assertive">
    <h1 class="title">Bus Hopper</h1>
    <button class="button icon ion-gear-a button-clear"></button>
</div>
<ion-content class="has-header padding">
    <div class="button" ui-sref="selectbus">Ding</div>
</ion-content>
-->