<ion-view>
    <ion-header-bar class="bar bar-header bar-assertive">
        <button class="button icon ion-home button-clear" nav-direction="back" ui-sref="dash"></button>
        <h1 class="title">Stop {{stopTitle}}</h1>
        <button class="button icon ion-android-star-outline button-clear"></button>
    </ion-header-bar>
    <ion-content has-bouncing="false" class="padding has-header">
        <div class="list card">
            <a class="item item-icon-left item-icon-right item-divider"
               ng-click="selectAllRoutes()">
                <i class="icon ion-android-bus"></i>
                <h2>Search All Routes</h2>
                <i class="icon ion-chevron-right"></i>
            </a>
            <a ng-repeat="route in availableRoutes"
               class="item item-icon-left item-icon-right"
               ng-click="selectRoute(route.getRouteNum(), route.getRouteDesc())" >
                <i class="icon ion-android-bus"></i>
                <h2>{{ route.getRouteNum() }}</h2>
                <p>{{ route.getRouteDesc() }}</p>
                <i class="icon ion-chevron-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>