.title {
    text-align: center;
}
.loading {
    background-color: transparent !important;
}
.backdrop {
    background-color: rgba(0,0,0,0.2);
}
#bushopperLoading svg {
    height: 80px;
    width: 80px;
}
.item-content {
    padding-right: 16px !important;
}
.route-panel-btn {
    float: right;
}
.search-suggestions-panel {
    position: absolute;
    width: 100%;
    z-index: 30;
}
.search-suggestions-panel li {
    position: relative;
    z-index: 30;
}
.search-suggestions-panel .item {
    background-color: #FBFBFB;
}
.search-suggestions-panel .item.item-divider {
    text-align: center;
    background-color: #eee;
    border-radius: 0px 0px 20px 20px;
    min-height: 15px;
    height: 15px;
}
.all-routes-title {
    padding-top: 16px;
    padding-bottom: 16px;
}