.loading {
    background-color: transparent !important;
}
.backdrop {
    background-color: rgba(0,0,0,0.2);
}
#bushopperLoading svg {
    height: 80px;
    width: 80px;
}
.item-content {
    padding-right: 16px !important;
}
.route-panel-btn {
    float: right;
}
.search-suggestions-panel {
    position: absolute;
    width: 100%;
    z-index: 30;
}